.intro{
    width: 1280px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;



}

.intro__title{
    width: 982px;
    height: 140px;
    margin-left: 59px;
    font-family: "kollektif", "arial", sans-serif;
    color: #000;
    font-weight: 800;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    

}

.intro__image{
    display: block;
    width: 1281px;
 
    margin: 0;
    width: 1283px;
    height: 503px;
    margin-left: -3px;
    


}