.location {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 60px; 
    padding-bottom: 30px; 

    box-sizing: border-box;
    background-color: #C94D41;
}


.location__main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px; /* Adjust spacing as needed */
    width: 100%;
    box-sizing: border-box;
    padding: 30PX;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20PX;
}

.location__main_content,
.location__strategic {
    flex: 1 1 0;
    min-width: 0;
}

.location__main_title {
    font-family: "kollektif", Arial, Helvetica, sans-serif;
    font-size: max(25px, 1.2vw);
    background-color: #E8DEC5;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    width: 25%;
    height: 80px;
    border-radius:20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    padding-left: 70px;
   padding-right: 70px;
   padding-top: 5px;
   padding-bottom: 5pxpx;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.location__main_content {
    font-family: "kollektif", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5vw;
    font-weight: 600;
    line-height:40px;
    padding-left: 30px;
    padding-right: 50px;



}

.location__map {
    width: 100%;
    height: auto;
}

.location__strategic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    gap: 60px; /* Adjust spacing as needed */
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;

}

.location__strategic_title {
    font-family: "murs", Arial, Helvetica, sans-serif;
    font-size: max(40px, 1.5vw);
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    height: 70px;
    border-radius: 20px;
    line-height: 70px;
    text-align: left;
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.location__strategic_main {
    font-family: "kollektif", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.2vw;
    padding: 0px;
    line-height: 50px;
    vertical-align: middle;
    

}

.location__strategic_list ul {
    list-style: disc; 
    border-left: 30px;
}

.location__strategic_list {
    font-size: 2vw;
    list-style: circle; 
    border-left: 30px;
}

@media screen and (max-width: 768px) {
    .location{
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
        }
    .location__map{
        width: 100vw;
        height: auto;
        margin-top: 60px;
    }
    .location__map__container{
        width: 100vw;
        height: 100vh;
    }
    .location__main {
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0px;
      
    }
    .location__main_title {
        font-size:4vw;
        width: 60vw;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .location__main_content {
        font-size: 4vw;
        width: 60vw;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        line-height: 20px;
        border-bottom: 10px;

    }
    .location__strategic {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .location__strategic_title {
        font-size: 5vw;
        width: 60vw;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        text-wrap: nowrap;
    }
    .location__strategic_main {
        font-size: 4vw;
        width: 60vw;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 50px;
        line-height: 20px;
    }
    
}