html{
  
}
.page {
    background-color:#E8DEC5;
    min-width: 1100px;
    max-width: 1280px;
    width:1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: "inter", "arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: white;
   
    height: 100%;
    padding-top: 67px;
  }
  body{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
      height: 100%;
      font-family: "kollektif", Arial, sans-serif;
     
    }
    
    h1, h2, h3,
    .intro__title,
    .description__top_numbers,
    .description__top_text,
    .description__grid_text,
    .masterplan__logo_title,
    .masterplan__logo_subitle,
    .masterplan__avances_title,
    .features__toggle-title {
      font-family: "kollektif", Arial, sans-serif;
    }
    
    .features__toggle-title {
      font-family: "murs", Arial, sans-serif;
    }
  }
  
  @media screen and (max-width: 768px) {
    .page {
      max-width: 768px;
      min-width: 320px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .page {
      min-width: 320px;
      padding-bottom: 50px;
    }
  }
  @media screen and (min-width: 769px) {
    .main {
      height: 1000px;
    }
  }